@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
}

.img-wrapper{
    cursor: pointer;
    flex: 0.5;
    transition: all 1s ease-in;
    height: 70vh;
    margin: 0 10px;
    position: relative;
} 

.img-wrapper img{
    width: 100%;
    object-fit: cover;
    object-position: top center;
    height: 100%;
    border-radius: 50px;
}

.desc{
    position: absolute;
    color: white;
    z-index: 100;
    bottom: 15px;
    left: 30px;
    opacity: 0;;
    font-size: 14px;
    font-weight: 700;
}
.scale{
    transform: scale(1);
    transition: all 1s;
}
.active{
    flex: 5;
    transition: all 1s ease-in 5ms;
}

.active .desc{
    opacity: 1;
    transition: all 1s ease-in 1s;
}
@media (max-width: 480px) {
    .container{
    overflow-x: scroll;
    }
    .active{
        min-width: 200px;
    }
  }