*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.container{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg{
    background-image: url("https://images.pexels.com/photos/2387418/pexels-photo-2387418.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    filter: blur(30px);
}

.loading{
    color: white;
    font-size: 24px;
    font-weight: 700;
    z-index: 1;
}